$brown-color: #21160C;
$brown-color-hover: #0a0602;

body{
    font-family: Verdana;
    background-color: white;
    padding-top: 0;
    background-image: url("../pictures/woodBackground.jpg");

}






